<header id="header">
    <nav>
        <a href="patient-admission">Patient Admission</a>
        <a href="rooms">Rooms</a>
        <a href="#takeBill">Take Bill</a>
        <a href="#discharge">Discharge</a>
        <a href="#dailyAccount">Daily Account</a>
        <a href="#dueCollection">Due Collection</a>
    </nav>
</header>